* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

body {
  min-width: 1280px;
}

header {
  position: relative;
  margin-bottom: 25px;
  min-width: 1280px;
}

a {
  text-decoration: none;
}
