.l-title {
  position: absolute;
  right: 10px;
  top: 76px;
  max-width: 1280px;
  height: auto;

  height: 492px;
}

.l-under-title {
  position: absolute;
  top: 534px;
  left: 384px;
  width: 542px;
  height: 38px;
}

.l-blackground-img,
img {
  width: 100%;
  max-width: 1280px;
  height: auto;
}
