.l-title img {
  top: 24px;
  right: 10px;
  position: absolute;
  width: 100%;
  min-width: 1280px;
  height: auto;
}

.l-under-title img {
  position: absolute;
  width: 50%;
  left: 25%;
  top: 574px;
}

.l-blackground-img img {
  width: 100%;
  min-width: 1280px;
  height: auto;
}

.l-start-of-history {
  background-image: url(../img/wallpaper-main.png);
  min-width: 1280px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.l-start-image-1 {
  position: absolute;
  top: 107px;
  left: 93px;
  min-width: 824px;
  height: 229px;
}

.l-purchase-bd {
  background-image: url(../img/wallpaper-vente.png);
  min-width: 1280px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding: 190px 155px 0px 0px;
}

.l-BD-big-size img {
  left: -60px;
  top: 30px;
  width: 786px;
  height: 880px;
  position: absolute;
}

.l-purchase-bd h2 {
  color: white;
  font-size: 64px;
  padding-left: 617px;
}

.l-purchase-bd h3 {
  color: white;
  font-size: 36px;
  padding-left: 617px;
  padding-bottom: 57px;
}

.l-purchase-bd h4 {
  color: white;
  font-size: 32px;
  padding-left: 617px;
}

.l-purchase-bd p {
  padding-top: 42px;
  color: white;
  font-size: 24px;
  padding-left: 617px;
  padding-bottom: 100px;
}

#unique-container {
  display: flex;
  flex-direction: row;
  padding-left: 617px;
  padding-bottom: 248px;
  gap: 50px;
}

.l-btn-buy {
  padding: 21px 39px 21px 39px;
  border-radius: 10px;
  border: solid white 3px;
  color: white;
}
.l-btn-buy a {
  text-decoration: none;
}

.l-btn-point-of-sale {
  padding: 21px 39px 21px 39px;
  border-radius: 10px;
  border: solid white 3px;
  color: white;
}

.l-btn-point-of-sale a {
  text-decoration: none;
}

.l-purchase-bd-special {
  background-image: url(../img/wallpaper-vente-hors-serie.png);
  min-width: 1280px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding: 120px 155px 0px 0px;
  z-index: 1;
}

.l-BD-special-big-size img {
  width: 454px;
  height: 713px;
  position: absolute;
  top: 120px;
  left: 134px;
}

.l-purchase-bd-special h2 {
  color: white;
  font-size: 64px;
  padding-left: 617px;
}

.l-purchase-bd-special h3 {
  color: white;
  font-size: 36px;
  padding-left: 617px;
  padding-bottom: 57px;
}

.l-purchase-bd-special h4 {
  color: white;
  font-size: 32px;
  padding-left: 617px;
}

.l-purchase-bd-special p {
  padding-top: 42px;
  color: white;
  font-size: 24px;
  padding-left: 617px;
  padding-bottom: 100px;
}
#l-about-contact {
  display: flex;
  flex-direction: row;
  gap: 1029px;
  padding-bottom: 35px;
}

#l-link-of-footer {
  display: flex;
  flex-direction: column;
}

.l-sketch {
  background-image: url(../img/wallpaper-sketch.png);
  min-width: 1280px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 57px 30px 358px 36px;
}

.l-sketch h2 {
  color: #949494;
  font-size: 64px;
  text-align: center;
}

.l-sketch p {
  color: #949494;
  font-size: 28px;
}

#l-BD-special {
  padding-left: 380px;
  display: flex;
  flex-direction: row;
  gap: 113px;
}

.l-sketch-bd img {
  width: 287px;
  height: 381px;
}

.l-aquarelle-bd img {
  width: 287px;
  height: 381px;
}

.l-fade-to-black img {
  position: absolute;
  width: 100%;
  min-width: 1280px;
  height: auto;
  top: 963px;
  left: 0px;
  z-index: -1;
}

.l-about {
  color: white;
  font-size: 16px;
}

.l-contact-us {
  padding-bottom: 35px;
  color: white;
  font-size: 16px;
}

#l-link-of-footer a {
  text-decoration: none;
  font-size: 12px;
}

#l-applications {
  display: flex;
  flex-direction: row;
  gap: 37px;
  position: absolute;
  top: 121px;
  left: 1114px;
}

.l-credit {
  padding-top: 326px;
  color: #6b6b6b;
  text-align: center;
  font-size: 12px;
}

.l-BD-serie {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  width: 100%;
  gap: 10px;
  padding: 20px;
}

.l-slider-container {
  display: inline-flex;
  height: 100%;
  gap: 10px;

  background: #080808;
  position: relative;
}

.l-slider-mask {
  overflow: hidden;
  height: 100vh;
}

.l-spacer {
  height: 100vh;
  background-color: lightpink;
}

.l-slider-item {
  width: calc(100vw - 30px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: relative;
}

.l-blacksad-profil img {
  z-index: 1;
  width: 500px;
  position: absolute;
  top: 100px;
  left: 261px;
}
.l-bubble-case img {
  width: 600px;
  position: absolute;
  top: 40px;
  left: 1061px;
}
.l-blacksad-case-1 img {
  width: 400px;
  position: absolute;
  top: 260px;
  left: 0px;
}
.l-blacksad-case-2 img {
  width: 500px;
  position: absolute;
  top: 240px;
  left: 461px;
}

.l-blacksad-case-3 img {
  width: 900px;
  position: absolute;
  top: 0px;
  left: 150px;
}

.l-blacksad-case-4 img {
  width: 750px;
  position: absolute;
  top: 600px;
  left: 220px;
}

.l-blacksad-case-5 img {
  width: 900px;
  position: absolute;
  top: 0px;
  left: 320px;
}

.l-blacksad-case-6 img {
  width: 1300px;
  position: absolute;
  top: 520px;
  left: 620px;
}

.l-blacksad-case-7 img {
  width: 700px;
  position: absolute;
  top: 50px;
  left: 920px;
}

.l-blacksad-case-8 img {
  z-index: 1;
  width: 700px;
  position: absolute;
  top: 450px;
  left: 1320px;
}

.l-blacksad-case-9 img {
  width: 900px;
  position: absolute;
  top: 250px;
  left: 900px;
}

.l-blacksad-case-10 img {
  width: 700px;
  position: absolute;
  top: 250px;
  left: 700px;
}

.l-blacksad-case-11 img {
  width: 900px;
  position: absolute;
  top: 500px;
  left: 700px;
}

.l-blacksad-case-12 img {
  width: 1500px;
  position: absolute;
  top: 200px;
  left: 450px;
}

.l-blacksad-case-13 img {
  width: 1330px;
  position: absolute;
  top: 200px;
  left: 250px;
}

.l-blacksad-case-14 img {
  width: 930px;
  position: absolute;
  top: 250px;
  left: 50px;
}
