.l-title img {
  top: 24px;
  right: 10px;
  position: absolute;
  width: 100%;
  min-width: 1280px;
  height: auto;
}

.l-under-title img {
  position: absolute;
  width: 50%;
  left: 25%;
  top: 574px;
}

.l-blackground-img img {
  width: 100%;
  min-width: 1280px;
  height: auto;
}

.l-start-of-history {
  background-image: url(../img/wallpaper-main.png);
  min-width: 1280px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.l-start-image-1 {
  position: absolute;
  top: 107px;
  left: 93px;
  min-width: 824px;
  height: 229px;
}

.l-purchase-bd {
  background-image: url(../img/wallpaper-vente.png);
  min-width: 1280px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding: 190px 155px 0px 0px;
}

.l-BD-big-size img {
  left: -60px;
  top: 30px;
  width: 786px;
  height: 880px;
  position: absolute;
}

.l-purchase-bd h2 {
  color: white;
  font-size: 64px;
  padding-left: 617px;
}

.l-purchase-bd h3 {
  color: white;
  font-size: 36px;
  padding-left: 617px;
  padding-bottom: 57px;
}

.l-purchase-bd h4 {
  color: white;
  font-size: 32px;
  padding-left: 617px;
}

.l-purchase-bd p {
  padding-top: 42px;
  color: white;
  font-size: 24px;
  padding-left: 617px;
  padding-bottom: 100px;
}

#unique-container {
  display: flex;
  flex-direction: row;
  padding-left: 617px;
  padding-bottom: 248px;
  gap: 50px;
}

.l-btn-buy {
  padding: 21px 39px 21px 39px;
  border-radius: 10px;
  border: solid white 3px;
  color: white;
}
.l-btn-buy a {
  text-decoration: none;
}

.l-btn-point-of-sale {
  padding: 21px 39px 21px 39px;
  border-radius: 10px;
  border: solid white 3px;
  color: white;
}

.l-btn-point-of-sale a {
  text-decoration: none;
}

.l-purchase-bd-special {
  background-image: url(../img/wallpaper-vente-hors-serie.png);
  min-width: 1280px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding: 120px 155px 0px 0px;
  z-index: 1;
}

.l-BD-special-big-size img {
  width: 454px;
  height: 713px;
  position: absolute;
  top: 120px;
  left: 134px;
}

.l-purchase-bd-special h2 {
  color: white;
  font-size: 64px;
  padding-left: 617px;
}

.l-purchase-bd-special h3 {
  color: white;
  font-size: 36px;
  padding-left: 617px;
  padding-bottom: 57px;
}

.l-purchase-bd-special h4 {
  color: white;
  font-size: 32px;
  padding-left: 617px;
}

.l-purchase-bd-special p {
  padding-top: 42px;
  color: white;
  font-size: 24px;
  padding-left: 617px;
  padding-bottom: 100px;
}
#l-about-contact {
  display: flex;
  flex-direction: row;
  gap: 1029px;
}

#l-link-of-footer {
  display: flex;
  flex-direction: column;
}

.l-sketch {
  background-image: url(../img/wallpaper-sketch.png);
  min-width: 1280px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 57px 30px 326px 36px;
}

.l-sketch h2 {
  color: #949494;
  font-size: 64px;
  text-align: center;
}

.l-sketch p {
  color: #949494;
  font-size: 28px;
  padding-top: 231px;
  padding-left: 975px;
  padding-right: 70px;
}

#l-BD-special {
  padding-left: 380px;
  display: flex;
  flex-direction: row;
  gap: 113px;
}

.l-sketch-bd img {
  width: 287px;
  height: 381px;
}

.l-aquarelle-bd img {
  width: 287px;
  height: 381px;
}

.l-fade-to-black img {
  position: absolute;
  width: 100%;
  min-width: 1280px;
  height: auto;
  top: 963px;
  left: 0px;
  z-index: -1;
}

.l-about {
  color: white;
  font-size: 16px;
}

.l-contact-us {
  padding-bottom: 35px;
  color: white;
  font-size: 16px;
}

#l-link-of-footer a {
  text-decoration: none;
  font-size: 12px;
}

.l-credit {
  color: #6b6b6b;
  text-align: center;
  font-size: 12px;
}
